USE [master]
GO
/****** Object:  Database [Spa_Diego]    Script Date: 8/28/2020 11:46:04 AM ******/
CREATE DATABASE [Spa_Diego]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Spa_Diego', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\Spa_Diego.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Spa_Diego_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\Spa_Diego_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Spa_Diego].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Spa_Diego]
GO
/****** Object:  Table [dbo].[Clientes]    Script Date: 8/28/2020 11:46:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Clientes](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Nombre_completo] [varchar](100) NOT NULL,
	[Genero] [varchar](50) NOT NULL,
	[Ingresos] [float] NOT NULL,
	[Promedio_visitas] [float] NOT NULL,
	[edad] [int] NOT NULL,
	[sauna] [int] NOT NULL,
	[masaje] [int] NOT NULL,
	[Hidro] [int] NOT NULL,
	[Yoga] [int] NOT NULL,
 CONSTRAINT [PK_Clientes] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
USE [master]
GO
