USE [master]
GO
/****** Object:  Database [floristeria]    Script Date: 8/28/2020 11:46:40 AM ******/
CREATE DATABASE [floristeria]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'floristeria', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\floristeria.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'floristeria_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\floristeria_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [floristeria].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [floristeria]
GO
/****** Object:  Table [dbo].[Clientes]    Script Date: 8/28/2020 11:46:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Clientes](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre_completo] [varchar](100) NOT NULL,
	[ID_sucursal] [int] NOT NULL,
	[Rosas] [int] NOT NULL,
	[Claveles] [int] NOT NULL,
	[macetas] [int] NOT NULL,
	[tierras] [int] NOT NULL,
	[girasoles] [int] NOT NULL,
	[hortensia] [int] NOT NULL,
	[globos] [int] NOT NULL,
	[Tarjetas] [int] NOT NULL,
	[Orquideas] [int] NOT NULL,
	[Carmesi] [int] NOT NULL,
	[Lirios] [int] NOT NULL,
	[Aurora] [int] NOT NULL,
	[Tulipanes] [int] NOT NULL,
	[Liston] [int] NOT NULL,
 CONSTRAINT [PK_Clientes] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Sucursal]    Script Date: 8/28/2020 11:46:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Sucursal](
	[Id_sucursal] [int] IDENTITY(1,1) NOT NULL,
	[Nombre_sucursal] [varchar](100) NOT NULL,
 CONSTRAINT [PK_Sucursal] PRIMARY KEY CLUSTERED 
(
	[Id_sucursal] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
USE [master]
GO
